#inputtext{
	float: left;
	margin: 10px; 
	width: 375px;
}

#table{
	position: absolute;
	top: 50px;
	left: 10px;
	margin:12.5px; 
	vertical-align:middle; 
}

#search{
	position:absolute;
	top: 0;
	left: 12.5px;
	height: 30px;
	width: 400px;
}

#searchbutton{
	float:right;
	width:80px;
	margin:10px; 
}

#myAddressModal{
	overflow:auto;
	overflow-x: hidden; 
	height:500px;
	width: 450px; 
}

.modal-body{
    height:500px; 
    width: 425px;
}

.contact{
	position:absolute;
	border-style: solid;
	width: 400px;
	display:table;
}

.contact .name{
    font-weight: bold; 
}

.typeImg{
	float:right;
	max-height:75px;
	vertical-align:middle;
}

.contactImg{
	float:left;
	height:75px;
	width:75px;
	vertical-align:middle;
}

.contactText{
	float:left;
	padding-left:40px;
	padding-top: 1px;
	display:table-cell;
	vertical-align:middle;
}

.imgdiv{
	vertical-align:middle;
}


