#inputtext{
	float: left;
	margin: 10px;
	margin-top: 0px;  
	width: 475px;
}

#table{
	position: absolute;
	top: 50px;
	left: 10px;
	margin:12px; 
	vertical-align:middle; 
	margin-left: auto;
	margin-right: auto; 
}

#search{
    position:absolute;
	top: 15px;
	left: 12px;
	right: 12px; 
	/*position: fixed;*/
	height: 30px;
	width: auto;
}

#searchbutton{
	float:right;
	width:80px;
	margin:10px; 
}

#myAddressModal{
	overflow:auto;
	overflow-x: hidden; 
}

.modal-body{
    height:400px; 
    width: auto;
    margin-bottom:10px; 
}

.contact{
	/*position:absolute;*/
	border-style: solid;
	width: 520px;
	height: 65px;
	/*display:table;*/
}

.contact .name{
    font-weight: bold; 
}

.contact .email{
    font-size: 0.9em; 
}

.contact .phone{
    font-size: 0.9em; 
}

.typeImg{
	float:right;
	max-height:75px;
	vertical-align:middle;
}

.contactImg{
	float:left;
	height:50px;
	width:50px;
	vertical-align:middle;
	margin-left: 15px; 
	margin-top:10px; 
}

.contactText{
	float:left;
	padding-left:40px;
	padding-top: 5px;
	display:table-cell;
	vertical-align:middle;
}

.imgdiv{
	vertical-align:middle;
}


