body {
  padding-top: 60px;
}

.navbar .logo {
    font-family: 'Bubbler One', sans-serif;
    color: black;
}

.panel {
    border-style: solid;
    border-width: 1px;
}

.panel .tab-item{
    text-align: center;
}

.job-panel .job-group {
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-description{
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-assignement{
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-updates{
    border-style: solid;
    border-width: 1px;
}