body {
  padding-top: 60px;
}

.navbar .logo {
    font-family: 'Bubbler One', sans-serif;
    color: black;
}

.panel {
    border-style: solid;
    border-width: 1px;
}

.tab-panel ul { 
    margin: 0; 
    padding: 0; 
}

.tab-panel li { 
    list-style: none;
    font-size: 2em;
    line-height: 1.2em;
}

.tab-panel a {
    color: black;
    display: block;
    text-align: center;
}

.btn-address {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.job-panel .job-group {
    border-style: solid;
    border-width: 1px;
}

.description-panel .description{
    margin-bottom: 20px;
}

.description-panel .description .job-title{
    font-size: 1.6em;
    line-height: 1.2em;
}

.description-panel .description .job-location{
    font-size: .8em;
}

.description-panel .description .job-reporter{
    font-size: .8em;
}

.description-panel .job-assignement{
    border-style: solid;
    border-width: 1px;
}

.description-panel .assignment .job-assignment{
    font-size: 1.6em;
}

.description-panel .job-updates{
    border-style: solid;
    border-width: 1px;
}