body {
  padding-top: 60px;
}

.navbar .logo {
    font-family: 'Bubbler One', sans-serif;
    color: black;
}

.panel {
    border-style: solid;
    border-width: 1px;
}

.tab-panel ul { 
    margin: 0; 
    padding: 0; 
}

.tab-panel li { 
    list-style: none; 
}

.tab-panel a {
    display: block;
    text-align: center;
}

/*.panel .tab-item{
    font-size: 1.5em;
    text-align: center;
}*/

.job-panel .job-group {
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-description{
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-assignement{
    border-style: solid;
    border-width: 1px;
}

.description-panel .job-updates{
    border-style: solid;
    border-width: 1px;
}